[[source]]
url = "https://github.com/LukasVannStruth/todoist-todo-sync"
verify_ssl = true
name = "todoist-todo-sync"

[packages]
todoist-python = "*"
requests = "*"
toml = "*"

[dev-packages]
rope = "*"
pylint = "*"

[requires]
python_version = "3.7"
